.headerouterDiv {
  width: 100%;
  height: 100px;
}
#lastdivinheader {
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}
#iddd {
  text-align: center;
  line-height: 100px;
}
#button {
  background-color: lime;
  border: solid;
  font-weight: bold;
  color: white;
  font-size: 16px;
  border-radius: 6px;
  margin-right: 16px;
  padding: 9px 34px;
}

.container {
  background-color: #b6d0ea;
  background-image: url("https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png");
  height: 800px;
  width: 100%;
  justify-content: center;
}
nav {
  background-color: white;
  width: 100%;
  height: 77px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px;
}
.forcursor {
  cursor: pointer;
}
#mtextwrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mtextwrap p{
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 400;
    color: #8b8b99;
    text-align: center;
    padding-top: 32px;
}

#first-step {
  background-color: #5acda6;
}

#second-step {
  background-color: #91ac41;
}

#third-step {
  background-color: #e4b476;
}

#fourth-step {
  background-color: #f69dad;
}

.step-item {
  width: 25%;
  padding: 112px 48px;
  text-align: center;
  color: white;
  box-sizing: border-box;
  float: left;
}

.step-item i {
  font-size: 96px;
}
#stepssec {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}
.storeSection {
  width: 100%;
  background-color: #f7eee2;
  padding-top: 75px;
  padding-bottom: 75px;
  text-align: center;
  height: 400px;
}
#freshFoodHeading {
  color: #91ac41;
  font-size: 24px;
  font-family: "Caveat", cursive;
  margin: 0;
  margin-top: 35px;
}
#storeSection > h3 {
  font-size: 44px;
  font-weight: 600;
  margin: 0;
  margin-bottom: 8px;
}
#storeDesc {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  color: #8b8b99;
  letter-spacing: 0.5px;
  margin-bottom: 55px;
}

.storeItemsWrapper {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: stretch;
  margin: 0 auto;
}
.storeItem {
  width: 25%;
  text-align: center;
  padding: 24px;
}

.iconWrapper {
  display: inline-block;
  background-color: #e3b375;
  border-radius: 50%;
  padding: 40px;
  color: white;
  transition: all 0.3s;
}
